* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-text-secondary);
}


.header-banner {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--color-secondary);
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.296);

    @media screen and(min-width: 481px) {
        height: 95px;
        width: 100%;
        align-content: center;
        justify-content: center;
    }
    @media screen and(min-width: 961px) {
        height: 92px;
        width: 100%;
        align-content: center;
        justify-conten: center;
    }
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-text-primary);
    width: 100%;

    @media screen and(min-width: 961px) {
        flex-direction: row;
        justify-content: space-between;
        padding-right: 380px;
        height: auto;
        
    }
}
/* Typografie */
h1 {
  font-size: clamp(2.25rem, 1.0141rem + 5.0704vw, 4.5rem);
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-light);
  color: var(--color-highlight);
  margin-top: 10px;
  line-height: 1.4;
  max-width: 75ch;
}

h3{
  font-size: var(--font-size-h5);
}

a {
  text-decoration: none;
}

/* Card styling */
.case-studies {
  background: var(--color-primary);
  box-shadow: 0px -3px 5px -1px rgba(0, 0, 0, 0.296);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;

  @media screen and (min-width: 481px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 961px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.card-wrapper {
  background-color: var(--color-secondary);
  margin: 12px;
  padding: 0.5em;
  border-radius: 5px;
  max-width: 480px;
  min-height: 320px;
  box-shadow: 2px 7px 8px 2px #000000;

  transition: scale 0.4s ease;

  &:hover,
  &:focus-visible {
    scale: 1.1;
  }
}

.card{  
  display: flex;
  flex-direction: column;
}

.card-img {
  border-radius: 5px;
  height: 160px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 5px;
} 

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-secondary);
}


/* button styling */
.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  line-height: 1;
}

.bttn {
  font-family: var(--font-family-heading);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-p-s);
        text-decoration: none;
        line-height: var(--line-hight-s);
        cursor: pointer;
        padding: var(--btn-padding);
        text-align: left;
        vertical-align: middle;
}

.btn-process {
  background-color: var(--color-text-secondary);
        border: 2px solid var(--color-text-secondary);
        color: var(--color-text-primary);
        &:hover {
            background-color: var(--color-primary);
            box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.296);
        }
    }
.btn-participatie {
background-color: var(--color-highlight);
        border: 2px solid var(--color-highlight);
        color: var(--color-text-primary);
        &:hover {
            background-color: var(--color-primary);
            box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.296);
        }
    }

.btn-uitvoering {
background-color: var(--color-tertiary);
        border: 2px solid var(--color-tertiary);
        color: var(--color-text-primary);
        &:hover {
            background-color: var(--color-primary);
            /* box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.296); */
        }
    }